h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

* {
  font-family: var(--font-family-body);
}

:root {
  color-scheme: light dark;
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}
